<%- include('partials/header')  -%>

<h1>compose</h1>



<form action="/compose" method="post">


    <div class="form-group">
    <label for="text">title</label>
     <input type="text" name="postTitle" id="text"  class="form-control" >
    
    </div>

    <div class="form-group">
     <label>post</label>
     <textarea name="postbody"  class="form-control" id="" cols="30" rows="5"></textarea>
    </div>

<button class="btn"  style="background-color:darkblue; color:aliceblue"type="submit" name="button">publish</button>
</form>

<%- include('partials/footer')  -%>


